<?xml version="1.0"?>
<config>
    <modules>
        <Codesbug_Ordergrid>
            <version>0.1.0</version>
        </Codesbug_Ordergrid>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <Codesbug_Ordergrid>
                    <file>color.xml</file>
                </Codesbug_Ordergrid>
            </updates>
        </layout>
        <acl>
            <resources>   
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ordergridsection translate="title" module="ordergrid">  
                                            <title>Ordergrid Section ACL</title>  
                                            <sort_order>99</sort_order>
                                        </ordergridsection>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <events>
            <!-- Add observer configuration -->
            <core_block_abstract_to_html_before><!-- extending our colomn by event 'core_block_abstract_to_html_before' -->
                <observers>
                    <Codesbug_Ordergrid_core_block_abstract_to_html_before>
                        <class>Codesbug_Ordergrid_Model_Observer</class>
                        <method>coreBlockAbstractToHtmlBefore</method>
                    </Codesbug_Ordergrid_core_block_abstract_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
            <sales_order_grid_collection_load_before><!-- Using the event sales_order_grid_collection_load_before to fetching the data-->
                <observers>
                    <Codesbug_Ordergrid_sales_order_grid_collection_load_before>
                        <class>Codesbug_Ordergrid_Model_Observer</class>
                        <method>salesOrderGridCollectionLoadBefore</method>
                    </Codesbug_Ordergrid_sales_order_grid_collection_load_before>
                </observers>
            </sales_order_grid_collection_load_before>
            <adminhtml_block_html_before>
                <observers>
                    <Codesbug_Ordergrid_core_block_abstract_to_html_after><!-- extending our colomn by event 'core_block_abstract_to_html_after' -->
                        <class>Codesbug_Ordergrid_Model_Observer</class>
                        <method>coreBlockAbstractToHtmlAfter</method>
                    </Codesbug_Ordergrid_core_block_abstract_to_html_after>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>   
    <global>
        <models>
            <ordergrid>
                <class>Codesbug_Ordergrid_Model</class>
                <resourceModel>ordergrid_mysql4</resourceModel>
            </ordergrid>
            <ordergrid_mysql4>
                <class>Codesbug_Ordergrid_Model_Mysql4</class>
            </ordergrid_mysql4>
        </models>
        <resources>
            <ordergrid_setup>
                <setup>
                    <module>Codesbug_Ordergrid</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ordergrid_setup>
            <ordergrid_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ordergrid_write>
            <ordergrid_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ordergrid_read>
        </resources>
        <blocks>
            <ordergrid>
                <class>Codesbug_Ordergrid_Block</class>
            </ordergrid>
        </blocks>
        <helpers>
            <ordergrid>
                <class>Codesbug_Ordergrid_Helper</class>
            </ordergrid> 
        </helpers>
    </global>
</config>
